<h1 class="mb-3 heading">{{ "send-jwt1.introduction" | transloco }}</h1>

<p class="font-grey" style="font-size: 24px;">{{ "send-jwt1.ways" | transloco }}</p>

<hr>

<div *ngIf="successText" class="rectangle">
        <img src="assets/images/icon-check-square.png"/>
        <span>{{ successText | transloco | uppercase }}</span>
</div>

<div *ngIf="errorText" class="rectangle error">
  <img src="assets/images/icon-error.svg"/>
  <span>{{ errorText | transloco | uppercase }}</span>
</div>

<div class="rectangle1">
    <h1>{{ "send-jwt1.request" | transloco }}</h1>
    <div class="box">
        <button (click)="sendJwtThroughRequestParameter()" class="font-grey">{{ "send-jwt1.request1" | transloco | uppercase }}</button>
        <img src="assets/images/icon-arrow-right.svg"/>
    </div>

    <p class="font-grey">{{ "send-jwt1.request2" | transloco}}</p>

    <div class="box1" style="margin-bottom: 20px;">
      <code>
      {{ "send-jwt1.code" | transloco }}</code>
    </div>

    <a class="query" target="_blank" href="#">{{ "send-jwt1.queryParameter" | transloco}}</a>

    <p class="font-grey">{{ "send-jwt1.secureWay" | transloco}}</p>
</div>

<div class="row">
    <div class="col text-end">
      <button type="button" (click)="backStep()" class="btn btn-outline-light mt-5">{{ "verify.back" | transloco }}</button>
    </div>
    <div class="col-auto text-end">
      <button type="button" (click)="nextStep()" class="btn btn-warning mt-5" innerHTML="{{ 'send-jwt1.body' | transloco }}"></button>
    </div>
  </div>
