<h1 class="mb-5 heading">{{ "generate-token.create" | transloco }}</h1>

<hr>

<div class="justify-content-sm-between d-flex algo">
    <span>{{ "generate-token.algorithm" | transloco }}</span>
    <a target="_blank" href="https://tools.ietf.org/html/rfc7518#section-3">Recommend algorithms</a>
</div>

<form #postForm="ngForm" (ngSubmit)="onCreateToken(postForm.value)">
    <select [(ngModel)]="algo" name="algo" class="rectangle">
        <option>HS256</option>
        <option [selected]="true">RS256</option>
        <option>ES256</option>
    </select>
    <br/>
    <div class="font-grey algo">{{"generate-token.data" | transloco}}</div>

    <textarea [(ngModel)]="payloadValue" name="payload" class="rectangle-1 data1"></textarea>

    <p class="font-grey flex-column note">
        <span>
            {{ "generate-token.note" | transloco }}
        </span>
        <span>
            {{ "generate-token.note1" | transloco }}
        </span>
        <span>
            {{ "generate-token.note2" | transloco }}
        </span>
    </p>

    <div class="row">
        <div class="col-auto text-end">
        <button type="submit" class="btn btn-warning mt-5" innerHTML="{{ 'generate-token.generateToken' | transloco }}"></button>
        </div>
    </div>
</form>