<nav class="nav justify-content-center py-3 mb-5 nav-header">
  <a class="nav-link" href="#">
    <i class="fa-solid fa-house me-1"></i>
    {{ "app.home" | transloco }}
  </a>
  <a class="nav-link" href="#">
    <i class="fa-solid fa-book-open me-1"></i>
    {{ "app.documentation" | transloco }}
  </a>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8 mx-3">
      <router-outlet></router-outlet>
    </div>
    <div class="col border-start">
      <ul class="nav flex-column nav-right">
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 1" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 1" />
          <span class="ms-2">{{ "app.mainPage" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 2" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 2" />
          <span class="w-12px d-inline-flex" *ngIf="step <= 1"></span>
          <span class="ms-2">{{ "app.anatomyJwt" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 3" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 3" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 2"></div>
          <span class="ms-2">{{ "app.verifyingToken" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 4" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 4" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 3"></div>
          <span class="ms-2">{{ "app.usedFor" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 5" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 5" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 4"></div>
          <span class="ms-2">{{ "app.generatingToken" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 6" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 6" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 5"></div>
          <span class="ms-2">{{ "app.tokenAuthenticate" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 7" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 7" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 6"></div>
          <span class="ms-4">{{ "app.tokenAuthenticate1" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 8" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 8" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 7"></div>
          <span class="ms-4">{{ "app.tokenAuthenticate2" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 9" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 9" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 8"></div>
          <span class="ms-4">{{ "app.tokenAuthenticate3" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 10" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 10" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 9"></div>
          <span class="ms-4">{{ "app.tokenAuthenticate4" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 11" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 11" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 10"></div>
          <span class="ms-2">{{ "app.bestMethod" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 12" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 12" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 11"></div>
          <span class="ms-2">{{ "app.logout" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 13" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 13" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 12"></div>
          <span class="ms-2">{{ "app.finishTutorial" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 14" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 14" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 13"></div>
          <span class="ms-2">{{ "app.disclosure" | transloco }}</span>
        </li>
        <li class="nav-item m-2">
          <img src="assets/images/icon-checked.svg" class="w-12px" *ngIf="step > 15" />
          <img src="assets/images/icon-check.svg" class="w-12px" *ngIf="step === 15" />
          <div class="w-12px d-inline-flex" *ngIf="step <= 14"></div>
          <span class="ms-2">{{ "app.reference" | transloco }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<nav class="nav justify-content-center py-3 mt-5 nav-footer">
  <a class="nav-link" href="#">
    <i class="fa-solid fa-triangle-exclamation me-1"></i>
    {{ "app.reportBug" | transloco }}
  </a>
  <a class="nav-link" href="#">
    <i class="fa-brands fa-twitter me-1"></i>
    {{ "app.shareTwitter" | transloco }}
  </a>
</nav>
