.card-time {
  width: 16rem;
}
.time-required {
  color: #ffffff;
}
.time-mins {
  color: #a3acb9;
}

.btn-start {
  font-size: 18px;
  font-weight: bold;
  color: #1a2035;
  padding: 20px;
  border: solid 1px #eab500;
  background-color: #ffd852;
}
