<h1 class="mb-3 heading">{{ "finish.introduction" | transloco }}</h1>

<p class="font-grey" style="font-size: 24px;">
    {{ "finish.learn" | transloco }}
</p>

<hr>

<div class="celebrate_twitter">
    <i class="fa-brands fa-twitter" style="color: #ffd852;"></i>
    <a target="_blank" href="https://twitter.com/intent/tweet?text=Just%20finished%20totorial%20on%20JWT.%20@pradeep_io&url=https://github.com/gitcommitshow/auth-jwt">{{ "finish.celebrate" | transloco}}</a>
</div>

<div class="row">
    <div class="info_rectangle">
        <i class="fa fa-info-circle" aria-hidden="true" style="color:#7292ff;;"></i>
        <div class="content">
            <span class="info">
                {{"logout.info" | transloco}}
            </span>
            <span class="info1">
                {{"logout.info1" | transloco}}
                <a href="https://github.com/gitcommitshow/auth-jwt">code repository</a>
                and
                <a href="https://github.com/gitcommitshow/awesome-authentication">awesome-authentication</a>
                for more details.
            </span>
            <span class="info2">
                {{"logout.info2" | transloco}}
                <a href="https://github.com/gitcommitshow/auth-jwt/issues">issue for suggestion</a>
                or
                <a href="https://github.com/gitcommitshow/auth-jwt">make a pull request</a>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-auto text-end">
      <a href="https://github.com/gitcommitshow/awesome-authentication" class="btn btn-warning mt-5" innerHTML="{{'finish.icon' | transloco}}{{ 'finish.documentation' | transloco }}"></a>
    </div>
    <div class="col text-end">
        <button type="button" (click)="nextStep()" class="btn btn-outline-light mt-5">{{ "finish.next" | transloco }}</button>
      </div>
</div>