<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
<h2>So, which method is the best to send tokens to authorization server?</h2>
<br/>
<p style="font-weight: 300;">
For APIs, the recommended approach is to send token in authorization header as per Oauth RFC (Bearer Token).<br/>
For web, it's debatable how to send and store the token, considering the possible attacks(e.g. XSS, CSRF, etc.) vs Performance.<br/>
<br/>
<b>So now, we can generate token, we can send it to server to access the protected resource, verify if the token is valid.<br/> But how do we implement logout?</b><br/>
</p>
<br/>
<a href="/lesson/implementing-logout">Next: Implementing logout</a><br/><br/>

<br/><br/><br/><br/><br/><br/>
<footer>
    <span style="opacity:0.8;float:left;font-size:80%;">
        <a href="<%= NEW_ISSUE_URL %>" target="_blank" target="_blank">Report a bug/improvement</a>
        <br/><a href="https://twitter.com/intent/tweet?text=%22Learn%20JWT%20by%20reverse%20engineering%22%20%20%40pradeep_io&url=<%= CODE_REPOSITORY %>" target="_blank">Share on twitter</a>
        <br/><br/><a href="/docs" target="_blank">Read Documentation</a>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <br/><br/><a style="padding-top:12px;" class="github-button" href="<%= CODE_REPOSITORY %>" data-color-scheme="no-preference: light; light: light; light: light;" data-size="small" data-show-count="true" aria-label="Star the repo on GitHub">Star/Fork the repo</a>
    </span>
    <span style="opacity:0.8;float:right;font-size:80%;">
        <span>Created by <a href="https://twitter.com/pradeep_io" target="_blank">@pradeep_io</a></span>
    </span>
<br/><br/><br/>
</footer>