<h1 class="mb-3">{{ "send-jwt4.introduction" | transloco }}</h1>

<p class="font-grey" style="font-size: 24px;">{{ "send-jwt4.ways" | transloco }}</p>

<hr>

<div *ngIf="successText" class="rectangle">
    <img src="assets/images/icon-check-square.png"/>
    <span>{{ successText }}</span>
</div>

<div *ngIf="errorText" class="rectangle error">
<img src="assets/images/icon-error.svg"/>
<span>{{ errorText | transloco | uppercase }}</span>
</div>

<div class="rectangle1">
    <h1>{{ "send-jwt4.request" | transloco }}</h1>
    
    <p class="font-grey">{{ "send-jwt4.request1" | transloco}}</p>

    <p class="font-grey">{{ "send-jwt4.request2" | transloco}}</p>
    
    <p class="font-grey">
        <span>1.</span>
        <button (click)="getAuthorizePage()">{{"send-jwt4.step1" | transloco}}
            <img src="assets/images/icon-arrow-right.svg" alt="">
        </button>
    </p>

    <p class="font-grey">
        <span>2.</span>
        <button (click)="getProtectedUserData()">{{"send-jwt4.step2" | transloco}}
            <img src="assets/images/icon-arrow-right.svg" alt="">
        </button>
    </p>

    <p class="font-grey">
        <span>3.</span>
        <button (click)="getUser()">{{"send-jwt4.step3" | transloco}}
            <img src="assets/images/icon-arrow-right.svg" alt="">
        </button>
    </p>

    <p class="font-grey">
        <span>4.</span>
        <button (click)="logOut()">{{"send-jwt4.step4" | transloco}}
        <img src="assets/images/icon-arrow-right.svg" alt="">
        </button>
    </p>
    
    <a class="query" target="_blank" href="#">{{ "send-jwt4.queryParameter" | transloco}}</a>

</div>

<div class="row">
    <div class="col text-end">
      <button type="button" (click)="backStep()" class="btn btn-outline-light mt-5">{{ "verify.back" | transloco }}</button>
    </div>
    <div class="col-auto text-end">
      <button type="button" (click)="nextStep()" class="btn btn-warning mt-5" innerHTML="{{ 'send-jwt4.body' | transloco }}"></button>
    </div>
</div>
