.rectangle {
    width: 667px;
    height: 53px;
    padding: 16.5px 223.1px 15.5px 19.9px;
    border-radius: 12px;
    border: solid 1px rgba(0, 195, 15, 0.75);
    background-color: rgba(0, 195, 15, 0.15);
    display: flex;
    align-items: center;
    img {
        width: 22px;
        height: 21px;
    }
    span {
    font-size: 16px;
    font-weight: bold;
    margin: 2px 0 0 7px;  
    font-stretch: normal;
    font-style: normal
    }
}

.rectangle1 {   
    width: 668px;
    height: 529px;
    margin-top: 34px;
    padding: 26.5px 4px 33.5px 26.9px;
    border-radius: 12px;
    border: dashed 1px #505255;
    p {
        margin: 22px 0px 0px 0;
        font-family: Helvetica;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        color: #7292ff;

        span {
            color: #fff;
        }
        button {
            background: transparent;
            border: none;
            color: #0d6efd;
            text-align: left;
            margin-left: 6px;
        }
    }
    .query {
        margin-top: 57px;
        font-family: Helvetica;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: oblique;
        color:   #bfcad9;;
    }
}