.heading {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.48px;
    text-align: left;
    color: #f7fafc;
}