.login_input{
    background-color: #161f27;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px ;
    width: 250px;
}
.form_group{
    display: flex;
    flex-direction: column;
}
.login_button{
    background-color: #161f27;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 4px;
}