<h1 class="mb-3 heading">{{ "send-jwt2.introduction" | transloco }}</h1>

<p class="font-grey" style="font-size: 24px;">{{ "send-jwt2.ways" | transloco }}</p>

<hr>

<div *ngIf="successText" class="rectangle">
  <img src="assets/images/icon-check-square.png"/>
  <span>{{ successText | transloco | uppercase }}</span>
</div>

<div *ngIf="errorText" class="rectangle error">
  <img src="assets/images/icon-error.svg"/>
  <span>{{ errorText | transloco | uppercase }}</span>
</div>

<div class="rectangle1">
    <h1>{{ "send-jwt2.request" | transloco }}</h1>
    <p class="font-grey">{{ "send-jwt2.request2" | transloco}}</p>
    <form #bodyForm="ngForm" (ngSubmit)="sendJwtThroughBody(bodyForm.value)">
      <div class="box">
        <input type="hidden" [(ngModel)]="token" name="access_token">
          <button type="submit"  class="font-grey">{{ "send-jwt2.request1" | transloco | uppercase }}</button>
      </div>
    </form>
    <div class="font-grey flex flex-column inputParamter">
        <code>{{ "send-jwt2.inputParameter" | transloco }}</code>
        <code>{{ "send-jwt2.contentType" | transloco }}</code>
        <a class="query" target="_blank" href="https://www.rfc-editor.org/rfc/rfc6750.html#section-2.2">{{ "send-jwt2.queryParameter" | transloco}}</a>
    </div>

    <p class="font-grey">{{ "send-jwt2.secureWay" | transloco}}</p>
</div>

<div class="row">
    <div class="col text-end">
      <button type="button" (click)="backStep()" class="btn btn-outline-light mt-5">{{ "verify.back" | transloco }}</button>
    </div>
    <div class="col-auto text-end">
      <button type="button" (click)="nextStep()" class="btn btn-warning mt-5" innerHTML="{{ 'send-jwt2.body' | transloco }}"></button>
    </div>
  </div>
