<h1 class="mb-3">{{ "send-jwt3.introduction" | transloco }}</h1>

<p class="font-grey" style="font-size: 24px;">{{ "send-jwt3.ways" | transloco }}</p>

<hr>

<div *ngIf="successText" class="rectangle">
        <pre>{{ successText }}</pre>
</div>

<div *ngIf="errorText" class="rectangle error">
  <span>{{ errorText | transloco | uppercase }}</span>
</div>

<div class="rectangle1">
    <h1>{{ "send-jwt3.request" | transloco }}</h1>
    
    <p class="font-grey">{{ "send-jwt3.request2" | transloco}}</p>

    <div class="innerRectangle">
        <div class="sampleContent">
          <code id="responseText">
            <b>Sample Request</b><br/>
            Request URL: /demo/protected/api/bearer<br/>
            Request Method: GET<br/>
            <br/>
            --Headers--<br/>
            Content-Type: application/json<br/>
            Authorization: "Bearer thetoken"<br/>
          </code>
        </div>
        <a href="#" class="edit">
            Edit
            <img src="assets/images/icon-pencil.svg" alt="">
        </a>
    </div>
    <div class="small_rectangle">
        <button (click)="sendTokenThroughRequestHeaders()" class="requestSend">{{"send-jwt3.requestHeader" | transloco | uppercase}}
          <img src="assets/images/icon-arrow-right.svg" alt="">
        </button>
    </div>
    <div class="font-grey flex-column inputParamter">
        <a target="_blank" href="https://www.rfc-editor.org/rfc/rfc6750.html#section-3.1">{{ "send-jwt3.errorCodes" | transloco}}</a> 
        <code> {{ "send-jwt3.invalidRequest" | transloco }} </code>
        <code> {{ "send-jwt3.invalidToken" | transloco }} </code>
        <code> {{ "send-jwt3.scope" | transloco}} </code>
    </div>
    <a class="query" target="_blank" href="https://www.rfc-editor.org/rfc/rfc6750.html#section-2.1">{{ "send-jwt3.queryParameter" | transloco}}</a>
    <p class="font-grey">{{ "send-jwt3.conclusion" | transloco}}</p>
</div>

<div class="row">
    <div class="col text-end">
      <button type="button" (click)="backStep()" class="btn btn-outline-light mt-5">{{ "verify.back" | transloco }}</button>
    </div>
    <div class="col-auto text-end">
      <button type="button" (click)="nextStep()" class="btn btn-warning mt-5" innerHTML="{{ 'send-jwt3.body' | transloco }}"></button>
    </div>
  </div>
