.method {
    margin-top: 25px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.18px;
    text-align: left;
    color: #b9c0ca;
}
.heading {
    font-family: Helvetica;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.48px;
    text-align: left;
    color: #f7fafc;
}