<h1 class="mb-5 heading">{{ "jwtusedfor.usedFor" | transloco }}</h1>

<hr>

<p class="font-grey">{{ "jwtusedfor.introduction1" | transloco }}</p>

<p class="font-grey">{{ "jwtusedfor.typicalUse" | transloco }}</p>

<p class="font-grey">
    <img src="assets/images/icon-crog.svg" class="me-2" />
    {{ "jwtusedfor.typicalUse1" | transloco }}
</p>

<p class="font-grey">
    <img src="assets/images/icon-crog.svg" class="me-2" />
    {{ "jwtusedfor.typicalUse2" | transloco }}
</p>

<p class="font-grey">{{ "jwtusedfor.introduction2" | transloco }}</p>

<p class="font-grey">{{ "jwtusedfor.leverage" | transloco }}</p>

<p class="font-grey">
    <img src="assets/images/icon-crog.svg" class="me-2" />
    {{ "jwtusedfor.leverage1" | transloco }}
</p>

<p class="font-grey">
    <img src="assets/images/icon-crog.svg" class="me-2" />
    {{ "jwtusedfor.leverage2" | transloco }}
</p>

<p class="font-grey">
    <img src="assets/images/icon-crog.svg" class="me-2" />
    {{ "jwtusedfor.leverage3" | transloco }}
    <br>
    <!--{{"jwtusedfor.leverage4" | transloco}}-->
    <!--Include a drawing here to make it easier to understand-->
</p>

<p class="font-grey">{{"jwtusedfor.introduction3" | transloco}}</p>

<div class="row">
    <div class="col-auto text-end">
      <button type="button" (click)="nextStep()" class="btn btn-warning mt-5" innerHTML="{{ 'jwtusedfor.system' | transloco }}"></button>
    </div>
</div>