.resubmit a{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.16px;
    color: #ffd852;
}

.jwt-decoded {
    color: #00c000;
}

.algo {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: 0.16px;
    display: flex;
    align-items: center;

a {
    font-size: 14px;
    font-weight: normal;
    font-style: oblique;
    line-height: 2;
    letter-spacing: 0.14px;  
    color: #bfcad9;
}
}

.options {
    font-size: 18px;
}